.about {
    box-sizing: border-box;
    margin-top: 50px;
}

.about h1 {
    font-weight: 550;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid #255925;
}

.about-tukerin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 25vw;
    max-width: 80%;
    gap: 40px;
}

.logo-about, .whyTukerin, .kelebihanTukerin {
    display: flex;
    flex: 1;
}

.logo-about img, .whyTukerin img {
    margin: auto;
    max-width: 400px;
}

.logo-about img:hover, .whyTukerin img:hover, .kelebihanTukerin img:hover {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    transform: scale(1.25);
}

.pengertian {
    flex: 1;
}

.kelebihanTukerin img {
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2); 
}

/* TEAM INFORMATION */
.container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.member {
    text-align: left;
    padding: 20px;
}

.profile-picture1 img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.profile-picture1 img:hover {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    transform: scale(1.1);
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.member-info h3 {
    font-size: 20px;
    font-weight: 600;
}
.member-info h3:hover {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    transform: scale(1.1);
}
.member-info p {
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.social-media a {
    display: flex;
    min-height: 30px;
    min-width: 30px;
    color: #212529;
    margin-top: 20px;
}

.social-media a svg {
    padding-left: 0;
    width: 100%;
    height: auto;
}

.social-media a svg:hover {
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    transform: scale(1.1);
}

/* about team */

.about-team {
    text-align: center;
    background-color: #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-container {
    margin: 100px 40px 0px 40px;
}

.card-item {
    border: 5px solid #255925;
    background-color: #97B9A8;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);  
    border-radius: 40px;
    grid-column-gap: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.card-item img {
    width: 170px;
    height: 170px;
    border-radius: 100px;
    border: 5px solid #255925;
}

.card-avatar {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(0, -100px);
}

.card-info {
    text-align: center;
    transform: translate(0, -70px);
}

.card-info p {
    display: inline;
}

.card-info__name {
    font-size: 20px;
    font-weight: 800;
    padding-left: 5px;
    padding-right: 5px;
}

.card-info__id {
    font-size: 18px;
    font-weight: 500;
}

.card-info__city {
    font-size: 18px;
    font-weight: 500;
}

.card-action {
    text-align: center;
    padding-bottom: 30px;
    transform: translate(0, -20px);
}

.card-action a {
    min-height: 44px;
    min-width: 44px;   
    color: #386159;
    padding-left: 15px;
    padding-right: 15px;
}

.card-action a:hover{
    color: #FF9F45;
  }

@media screen and (max-width: 1100px) {
    .about {
        margin-top: 20px;
        font-size: 15px;
    }
    .about h1, h2 {
        font-size: 30px;
    }
    .about-tukerin {
        flex-direction: column;
        height: auto;
    }
    .whyTukerin img {
        width: 300px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .about {
        font-size: 12px;
    }
    .about h1, h2 {
        font-size: 20px;
    }
    .about-tukerin {
        gap: 10px;
    }
    .logo-about img {
        max-width: 100px;
        margin: 20px 0;
    }
    .whyTukerin img {
        width: 200px;
        margin-bottom: 20px;
    }
    .kelebihanTukerin img {
        margin: 20px 0;
        max-width: 200px;
    }
}

@media screen and (min-width: 600px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 50px;
      }
}

@media screen and (min-width: 720px) {
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr)
    }
  }