.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    max-width: 80%;
    border: 2px solid #d9d9d9;
}

.category-container h2 {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px groove #D9D9D9;
    margin-bottom: 0;
}

.category-items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}