  /* HOMEPAGE */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.hero-image {
  margin: 20px;
}

.category {
  margin: 20px;
  width: 60%;
}

.category h2 {
  padding: 20px;
  border-bottom: 3px groove #D9D9D9;
  margin-bottom: 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
}

.categories img {
  max-width: 80px;
  max-height: 80px;
}

.categories p {
  font-size: 12px;
}

.recommendation-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 1060px;
  border-style: groove;
  border-color: #D9D9D9;
}

.recommendation-container h2 {
  margin: auto;
  width: 80%;
  border-bottom: groove;
  margin-bottom: 45px;
  padding: 15px;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 920px) {
  /* .recommendation-container {
    width: 106%;
  } */
  /* #carousel .carousel-item.boat{
    width: 1000px;
  }
  #carousel .carousel-item.sea{
    width: 1000px;
  } */

  header div .search-bar input {
    width: 300px;
  }

  .recommendation-container {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  
}

/* PRODUCT ITEM */

.product-item {
  width: 140px;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.product-item__image {
  display: flex;
  justify-content: center;
}

.product-item__image img {
  height: 110px;
  min-height: 110px;
}

.product-item__body {
  text-align: left;
  padding: 12px;
}

.product-item__body h3 {
  margin: 5px;
  font-size: 12px;
}

.product-item__body p {
  margin: 5px;
  font-size: 12px;
}
  .carousel-inner {
    width: 80vw;
    height: 300px;
    border-radius: 20px;
  }
  #carousel .carousel-item.boat{
    background-image:url("../images/img1.jpeg");
  }
  #carousel .carousel-item.sea{
    background-image:url("../images/img2.jpeg");
  }
  #carousel .carousel-item.river{
    background-image:url("../images/img3.png");
  }
  #carousel .carousel-item{
    height: 300px;
    background:no-repeat center center scroll;
    background-size:cover;
  }
  #carousel .carousel-inner .carousel-item{
    transition:-webkit-transform 2s ease;
    transition:transform 2s ease;
    transition:transform 2s ease, -webkit-transform 2s ease;
  }