/* LOGIN */

.login-page{
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgb(189, 187, 187);
  height: 400px;
  margin: 60px auto;
  width: 80%;
  border-radius: 10px;
}

.container-img{
  margin: 0px auto;
}

.container-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  background-color: #386159;
  color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.input-login button{
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 10px;
  border: #ffffff;
  margin-left: 130px;
}

.input-login button:hover{
  color: white;
  background-color: #FF9F45;
}

@media screen and (max-width: 650px) {
    .login-page{
        flex-direction: column;
        height: 750px;
        width: 95%;
    }

    .container-img{
        margin: 90px auto;
    }

    .container-content{
        width: 100%;
        border-radius: 0 0px 10px 10px;
      }
}