/* Toggle */

.hamburger {
  display: block;
  font-size: 30px;
  color: white;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.nav-dropdown, .nav-dropdown-login {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 6rem;
  padding: 45px;
  height: 350px;
  background-color:#97B9A8;
}

.nav-dropdown-login {
  top: 6rem;
  height: 400px;
}

header {
  position: relative;
}

.nav-dropdown ul li {
  margin-top: 0px;
  padding: 10px;
}

.nav-dropdown-login ul li {
  margin-top: 0px;
  padding: 15px;
}

div.header-main-dropdown .search-bar input {
  width: 450px;
  height: 35px;
}

.header-main-dropdown .fa-search {
  padding: 8px;
  height: 35px;
  width: 35px;
}

.header-main-dropdown .authentication-button .profile-icon {
  margin-top: 30px;
}

div.prof {
  gap: 10px;
  border: 1px solid black;
}

.categories p:hover{
  text-decoration: none;
}

/* Responsive */

@media screen and (max-width: 450px) {
  header {
    padding-bottom:0px;
  }
  

  /* footer */
  .footer-container {
    align-items: center;
  }

    /* footer */
  footer .footer-container{
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.brand-footer { 
    width: 50%;
    align-items: center;
    margin-right: 60px;
    flex-direction: row;
  }

  div.brand-footer img{
    width: 50% ;
    margin-left: 10px;
    flex-direction: row;
  }
  
  div.brand-footer h1 {
    margin: 5px 0px 0px 10px;
    font-size: 30px;
  }
  
  .usefull-links h3, .ikuti-kami h3 {
    font-size: 18px;
  }

  .usefull-links {
    margin-bottom: 10px;
  }

  .ikuti-kami h3 {
    margin-bottom: 0px;
  }

  .ikuti-kami__list {
    font-size: 5px;
  }

  /* header */

  .hamburger {
    margin-right: 0px;
  }

  .brand-container {
    margin-right: 0px;
    margin-left: 0;
  }

  .brand-container h1{
    margin-right: 0px;
    font-size: 35px;
  }

  .brand-logo img{
    margin-left: 0px;
    max-width: 50px;
    max-height: 51px;
  }

  div.brand-container {
    margin: auto;
    padding: 20px;
  }

  .search-bar {
    width: 100%;
  }

  .header-main-dropdown div.search-bar input {
    width: 500px;

  }
  
  .header-main-dropdown .fa-search {
    padding: 4px;
    border: 1px solid black;
  }
  
  .category h2 {
    margin: 40px;
    font-size:25px;
  }

  .recommendation-container h2 {
    margin: 30px auto;
    width: 80%;
    font-size: 20px;
  }

  .header-main-dropdown .authentication-button .profile-icon {
    margin-top: 0px;
  }

  /* Pop modal */
   div#root{
    position: absolute;
  }
  .popup-arrow{
    display: none;
  }
  .root-popup-profile {
    position: relative;
    top: 108px;
    pointer-events:none;
  }
}

@media screen and (max-width: 750px) {

  .header-main-login .search-bar{
    display: none;
  }

  .header-main-login .authentication-button .profile-icon{
    display: none;
  }
  
  .header-main-login .authentication-button button{
    display: none;
  }

  .header-main .search-bar{
    display: none;
  }

  .header-main .authentication-button .profile-icon li p{
    display: none;
  }
  
  .header-main .authentication-button button{
    display: none;
  }

  .header-main-dropdown {
    display: inline;
  }

  .header-main-login{
    padding: 30px;
    justify-content: space-around;
  }

  header div .search-bar input {
    width: 0px;
  }
  
  .nav-dropdown ul {
    margin-top: 10px;
    display: inline;
  }

  .nav-dropdown-login ul {
    margin-top: 10px;
    display: inline;
  }

  .brand-container {
    width: 50%;
    padding: 0px 30px;
  }

  .icon-toggle {
    text-align: center;
    width: 20%;
    padding: 10%;
  }

  .brand-container h1{
    margin-right: 0px;
  }

  .brand-logo img{
    margin-left: 0px;
  }
  
  .header-main-dropdown .authentication-button {
      width: 20%;
      padding: 0px;
  }

  div.authentication-button {
    width: 60%;
    text-align: center;
    padding: 30px;
  }

  .header-main-login div.authentication-button {
    width: 0%;
    padding: 0;
  }

  .notification-icon {
    margin-left: 0px;
  }

  .category h2 {
    margin: 40px;
    font-size: 30px;
  }

  .recommendation-container h2 {
    margin: 30px auto;
    width: 80%;
    font-size: 25px;
  } 
  
  /* footer */
  .footer-container {
    align-items: center;
  }

    /* footer */
  footer .footer-container{
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.brand-footer { 
    align-items: center;
    margin-right: 50px;
    flex-direction: row;
  }
  
  .usefull-links h3, .ikuti-kami h3 {
    font-size: 22px;
  }

  .usefull-links {
    margin-bottom: 10px;
  }

  .ikuti-kami h3 {
    margin-bottom: 0px;
  }

  .ikuti-kami__list {
    font-size: 28px;
  }

  .header-main-dropdown .authentication-button .profile-icon {
    margin-top: 0px;
    display: inline;
  }

}

@media screen and (max-width:1024px) {
  div.brand-container {
    margin: auto;
    padding: 0px;
  }

  div.authentication-button {
    /* width: 900%; */
    text-align: center;
    padding: 0px 0px;
  }

  .header-main {
    gap: 20px;
  }

  .header-main .search-bar input {
    width: 250px;
  }

  div.header-main-login div.brand-container {
    margin: 0px;
  }

  div.header-main-login div.search-bar input {
    width: 95%;
  }

  div.header-main-login div.authentication-button button{
    padding: 10px 10px;
  }
}

@media screen and (min-width:650px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav-dropdown {
    display: none;
  }

  .nav-dropdown-login {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  /* .search-bar {
    width: 100%;
  } */

  .header-main div {
    justify-content: center;
  }

  .header-main-login div {
    justify-content: center;
    width: 95%;
  }
}