/* Toggle */
.hamburger {
  display: block;
  font-size: 40px;
  color: white;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.nav-dropdown {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 9rem;
  padding: 45px;
  background-color:#97B9A8;
  /* flex-direction: column;
  flex-wrap: wrap; */
}

header {
  position: relative;
}

.nav-dropdown ul li {
  margin-top: 0px;
  padding: 15px;
}

.header-main-dropdown .search-bar input {
  width: 450px;
  height: 35px;
}

.header-main-dropdown .fa-search {
  padding: 8px;
  height: 35px;
  width: 35px;
}

.header-main-dropdown .authentication-button .profile-icon {
  margin-top: 30px;
}

/* Responsive */

@media screen and (max-width: 450px) {

  /* footer */
  .brand-footer img{
    width: 80%;
    margin-left: 40px;
    margin-top: 25px;
  }
  
  .brand-footer h1 {
    margin-left: 40px;
    font-size: 30px;
  }

  .footer-flex{
    display: inline;
  }

  .usefull-links {
    margin: auto;
    margin-left: 20px;
  }

  .ikuti-kami {
    margin-top: 10px;
    margin-right: 50px;
  }
  
  .ikuti-kami h3 {
    text-align: center;
    font-size: 20px;
  }

  .hamburger {
    margin-right: 0px;
  }

  .brand-container {
    margin-right: 0px;
    margin-left: 0;
    border: 1px solid black;
  }

  .brand-container h1{
    margin-right: 0px;
    font-size: 20px;
  }

  .brand-logo img{
    margin-left: 0px;
    max-width: 40px;
    max-height: 41px;
  }

  div.brand-container {
    border: 1px solid black;
    margin: auto;
  }

  div.authentication-button {
    width: 20%;
    text-align: center;
  }

  .notification-icon {
    margin-left: 0px;
  }
  
  .category h2 {
    margin: 40px;
    font-size:25px;
  }

  .recommendation-container h2 {
    margin: 30px auto;
    width: 80%;
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .header-main .search-bar{
    display: none;
  }

  .header-main .authentication-button .profile-icon{
    display: none;
  }
  
  .header-main .authentication-button button{
    display: none;
  }

  .header-main-dropdown {
    display: inline;
  }

  .header-main{
    margin-top: 15px;
  }

  header div .search-bar input {
    width: 0px;
  }
  
  .nav-dropdown ul {
    margin-top: 10px;
    display: inline;
  }

  .brand-container {
    width: 50%;
    padding: 0px 50px;
  }

  .icon-toggle {
    text-align: center;
    width: 20%;
    padding: 10%;
  }

  .brand-container h1{
    margin-right: 0px;
  }

  .brand-logo img{
    margin-left: 0px;
  }
  
  /* footer */
  .brand-footer img{
    width: 80%;
    margin-left: 40px;
    margin-top: 25px;
  }
  
  .brand-footer h1 {
    margin-left: 65px;
    font-size: 30px;
  }

  .footer-flex{
    display: inline;
  }

  .usefull-links {
    margin: auto;
    margin-left: 20px;
  }

  .ikuti-kami {
    margin-top: 10px;
    margin-right: 50px;
  }
  
  .ikuti-kami h3 {
    text-align: center;
    font-size: 20px;
  }

  .category h2 {
    margin: 40px;
    font-size: 30px;
  }

  .recommendation-container h2 {
    margin: 30px auto;
    width: 80%;
    font-size: 25px;
  }
}

@media screen and (max-width:950px) {
  
  /* footer */
  .usefull-links {
    margin-right: 70px;
  }
}

@media screen and (min-width:750px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav-dropdown {
    display: none;
  }
}